body {
    width: 1366px;
    height: 2000px;
    margin: 0 auto;
    background-color: #FAFAFA;
    /* height: 2000px; */
    /* max-height: 2000px; */
    /* height: calc(100vh - 54px); */
}
body p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pagina {
    width: 1366px;
    height: 2000px;
    /* max-height: 2000px; */
    /* height: calc(100vh - 54px); */
    margin: 0px auto;
    /* background-color: red; */
    overflow: hidden;
}
.borda-topo-mobile {
    display: none;
}
.borda-bottom-mobile {
    display: none;
}
.borda-topo {
    width: 1366px;
    height: 54px;
    border: 1px solid #DBDBDB;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    z-index: 1;
}
.topo {
    width: 935px;
    height: 54px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */
}
ion-icon {
    font-size: 22px;
    height: auto;
}
.topo > div {
    display: flex;
    /* background-color: violet; */
}
.topo-esquerda img {
    width: 103px;
    height: 29px;
    margin: auto 0;
}
.linha-vertical {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: auto 10px;
}
.topo-meio {
    align-items: center;
}
.barra-de-pesquisa {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.barra-de-pesquisa p {
    text-align: center;
    position: relative; /* ESPECIAL */
    line-height: 28px; /* ESPECIAL */
}
.topo-direita ion-icon {
    margin-left: 20px;
}

.conteudo {
    width: 935px;
    height: calc(100vh - 56px);
    margin: 54px auto 0px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* background-color: blue; */
    /* z-index: -1; */
}
.feed {
    width: 614px;
    /* max-height: ; */
    /* background-color: palegreen; */
}
.feed > div {
    background-color: #FFFFFF;
    z-index: 0;
}
.stories {
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    border: 1px solid #DBDBDB;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    position: relative;
    /* flex-direction: row; */
    /* z-index: 1; */
    overflow: hidden;
}
.varias-logos {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-direction: row; */
}
.icone ion-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    /* margin: 0 auto; */
    top: calc(50% - 16px); /* CALCULO USANDO METADE DA ALTURA DO ICONE*/
    right: 8px;
    color: #ffffff;
    /* margin-top: -14px;
    margin-left: -120px; */
    /* z-index: 1; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.varias-logos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 14px;
    z-index: -1;
}
.logo-centralizada {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 56px;
    height: 56px;
    position: absolute;
}
.borda {
    width: 66px;
    height: 66px;
}
.post {
    height: 749px;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
}
.post img {
    width: 612px;
    height: 612px;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 17px 13px 17px;
    /* border: 1px solid black; */
    position: relative;
}
.cabecalho ion-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: calc(50% - 8px);
}
.titulo img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titulo p {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}
.icones-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
    /* border: 1px solid black; */
}
.icones-post ion-icon {
    width: 22px;
    height: 22px;
    /* margin: 1px solid black; */
}
.icone-trio ion-icon {
    margin-right: 14px;
}
.rodape {
    display: flex;
    align-items: center;
    margin: 0px 15px 14px 15px;
    /* border: 1px solid black; */
}
.rodape img {
    width: 20px;
    height: 20px;
}
.rodape p {
    font-weight: 300;
    font-size: 14px;
}
.rodape strong {
    font-weight: 500;
}
.sidebar {
    width: 293px;
    margin-top: calc(34px + 26px);
    margin-left: calc(614px + 29px);
    /* margin-right: calc(614px + 29px); */
    position: fixed;
    /* background-color: green; */
}
.sidebar > p {
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
    margin-top: 18px;
}
.sidebar-topo {
    display: flex;
}
.sidebar-topo-perfil {
    margin: auto 17px;
    font-style: normal;
    font-size: 14px;
    color: #262626;
}
.sidebar-topo-perfil  strong{
    font-weight: 500;
}
.sidebar-topo-perfil small{
    font-weight: 300;
}
.sidebar-topo img {
    width: 56px;
    height: 56px;
}
.sugestao {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 18px;
}
.sugestao strong {
    color: #262626;

}
.sugestao small {
    color: #8E8E8E;
}
.paginas-sugeridas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.paginas-sugeridas img{
    width: 32px;
    height: 32px;
    margin-right: 11px;
}
.paginas-sugeridas > p {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}
.paginas {
    display: flex;
}
.paginas strong {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}
.paginas small {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}

@media (max-width: 935px) {
    body {
        width: 900px;
        /* background-color: blue; */
    }
    .sidebar {
        display: none;
    }
    .pagina {
        width: 900px;
        margin: 0px auto;
    }
    .feed {
        margin: 0 auto;
    }
    .topo {
        width: 900px;
        height: 54px;
        margin: 0 auto;
        /* background-color: purple; */
    }
    .borda-topo {
        width: 900px;
        margin: 0 auto;
        /* background-color: palegreen; */
    }
}

@media (max-width: 614px) {
    body {
        width: 612px;
        height: 1269px;
        /* background-color: red; */
    }
    .pagina {
        width: 612px;
        height: 1269px;
        margin: 0 auto;
    }
    .conteudo {
        width: auto;
    }
    .borda-topo {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .borda-topo-mobile {
        display: flex;
        width: 612px;
        height: 54px;
        position: fixed;
        top: 0px;
        z-index: 1;
        border: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        justify-content: center;
    }
    .topo-mobile {
        display: flex;
        width: calc(614px - 20px);
        justify-content: space-between;
        margin: auto 0;
        /* border: 1px solid black; */
    }
    .borda-bottom-mobile {
        display: flex;
        width: 612px;
        height: 54px;
        position: fixed;
        bottom: 0px;
        z-index: 1;
        border: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        justify-content: space-between;
        /* margin: 0px 20px; */
        padding: 0 20px;
    }
    .feed {
        margin: 0 auto;
    }
    .stories {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}